name: smart_dairy_app
description: Smart Dairy Management App
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  fl_chart: ^0.68.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
